                                Telephone Directory CRUD Operation Mongodb Assignment

In [1]:
!pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in c:\users\hp\appdata\roaming\python\python39\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from pymongo) (2.3.0)

In [2]:
!pip install pymongo[srv]

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo[srv] in c:\users\hp\appdata\roaming\python\python39\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from pymongo[srv]) (2.3.0)

In [3]:
from pymongo import MongoClient

In [4]:
client = MongoClient("mongodb+srv://Sumalatha:Summulu1234@cluster0.lsmwvin.mongodb.net/?retryWrites=true&w=majority")

In [5]:
#create database db, assigning this databasedb to an attribute of the client

In [6]:
db = client["Telephone_Directory"]

In [7]:
#create a collection

In [8]:
collection = db["Individual_Information"]

In [9]:
#inserting a record into the collection using insert_one()

In [10]:
collection.insert_one({"Name":"Suma","Age":25,"Phone_number":8919136253,"Place":"Nellore","State":"AndhraPradesh"})

In [11]:
for i in collection.find():
    print(i)

{'_id': ObjectId('63ca524c1e62f58ab1b8ee88'), 'Name': 'Suma', 'Age': 25, 'Phone_number': 8919136253, 'Place': 'Nellore', 'State': 'AndhraPradesh'}

In [12]:
#inserting records into the collection using insert_many()

In [13]:
data= [{"Name":"Siree","Age":24,"Phone_number":9183311259,"Place":"Mysore","State":"Karnataka"},
      {"Name":"Rohit","Age":26,"Phone_number":8913676209,"Place":"Chennai","State":"Tamilnadu"},
      {"Name":"Jaya","Age":28,"Phone_number":9220583077,"Place":"Pune","State":"Kerala"},
      {"Name":"Prasad","Age":26,"Phone_number":9333313573,"Place":"Kurnool","State":"AndhraPradesh"},
      {"Name":"Seema","Age":24,"Phone_number":6301357782,"Place":"Hyderabad","State":"Telangana"}]

In [14]:
collection.insert_many(data)

In [15]:
for i in collection.find():
    print(i)

{'_id': ObjectId('63ca524c1e62f58ab1b8ee88'), 'Name': 'Suma', 'Age': 25, 'Phone_number': 8919136253, 'Place': 'Nellore', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee89'), 'Name': 'Siree', 'Age': 24, 'Phone_number': 9183311259, 'Place': 'Mysore', 'State': 'Karnataka'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8a'), 'Name': 'Rohit', 'Age': 26, 'Phone_number': 8913676209, 'Place': 'Chennai', 'State': 'Tamilnadu'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8b'), 'Name': 'Jaya', 'Age': 28, 'Phone_number': 9220583077, 'Place': 'Pune', 'State': 'Kerala'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8c'), 'Name': 'Prasad', 'Age': 26, 'Phone_number': 9333313573, 'Place': 'Kurnool', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8d'), 'Name': 'Seema', 'Age': 24, 'Phone_number': 6301357782, 'Place': 'Hyderabad', 'State': 'Telangana'}

In [16]:
#make a query to find the records

In [17]:
for i in collection.find({"Name":"Seema"}):
    print(i)

{'_id': ObjectId('63ca524f1e62f58ab1b8ee8d'), 'Name': 'Seema', 'Age': 24, 'Phone_number': 6301357782, 'Place': 'Hyderabad', 'State': 'Telangana'}

In [18]:
query = {"Age":24}

In [19]:
for i in collection.find(query):
    print(i)

{'_id': ObjectId('63ca524f1e62f58ab1b8ee89'), 'Name': 'Siree', 'Age': 24, 'Phone_number': 9183311259, 'Place': 'Mysore', 'State': 'Karnataka'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8d'), 'Name': 'Seema', 'Age': 24, 'Phone_number': 6301357782, 'Place': 'Hyderabad', 'State': 'Telangana'}

In [20]:
query = {"State":"AndhraPradesh"}

In [21]:
for i in collection.find(query):
    print(i)

{'_id': ObjectId('63ca524c1e62f58ab1b8ee88'), 'Name': 'Suma', 'Age': 25, 'Phone_number': 8919136253, 'Place': 'Nellore', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8c'), 'Name': 'Prasad', 'Age': 26, 'Phone_number': 9333313573, 'Place': 'Kurnool', 'State': 'AndhraPradesh'}

In [22]:
#modify the record,use the update_one() method,which requires two arguements query and update

In [23]:
query = {"Name":"Siree"}
update = {"$set":{"Name":"Sireesha"}}

In [24]:
collection.update_one(query,update)

In [25]:
for i in collection.find():
    print(i)

{'_id': ObjectId('63ca524c1e62f58ab1b8ee88'), 'Name': 'Suma', 'Age': 25, 'Phone_number': 8919136253, 'Place': 'Nellore', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee89'), 'Name': 'Sireesha', 'Age': 24, 'Phone_number': 9183311259, 'Place': 'Mysore', 'State': 'Karnataka'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8a'), 'Name': 'Rohit', 'Age': 26, 'Phone_number': 8913676209, 'Place': 'Chennai', 'State': 'Tamilnadu'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8b'), 'Name': 'Jaya', 'Age': 28, 'Phone_number': 9220583077, 'Place': 'Pune', 'State': 'Kerala'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8c'), 'Name': 'Prasad', 'Age': 26, 'Phone_number': 9333313573, 'Place': 'Kurnool', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8d'), 'Name': 'Seema', 'Age': 24, 'Phone_number': 6301357782, 'Place': 'Hyderabad', 'State': 'Telangana'}

In [26]:
query = {"Phone_number":8913676209}
update = {"$set":{"Name":"Rohit Kumar"}}

In [27]:
collection.update_one(query,update)

In [28]:
for i in collection.find():
    print(i)

{'_id': ObjectId('63ca524c1e62f58ab1b8ee88'), 'Name': 'Suma', 'Age': 25, 'Phone_number': 8919136253, 'Place': 'Nellore', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee89'), 'Name': 'Sireesha', 'Age': 24, 'Phone_number': 9183311259, 'Place': 'Mysore', 'State': 'Karnataka'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8a'), 'Name': 'Rohit Kumar', 'Age': 26, 'Phone_number': 8913676209, 'Place': 'Chennai', 'State': 'Tamilnadu'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8b'), 'Name': 'Jaya', 'Age': 28, 'Phone_number': 9220583077, 'Place': 'Pune', 'State': 'Kerala'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8c'), 'Name': 'Prasad', 'Age': 26, 'Phone_number': 9333313573, 'Place': 'Kurnool', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8d'), 'Name': 'Seema', 'Age': 24, 'Phone_number': 6301357782, 'Place': 'Hyderabad', 'State': 'Telangana'}

In [29]:
query = {"Name":"Seema"}
update = {"$set":{"Age":28}}

In [30]:
collection.update_one(query,update)

In [31]:
for i in collection.find():
    print(i)

{'_id': ObjectId('63ca524c1e62f58ab1b8ee88'), 'Name': 'Suma', 'Age': 25, 'Phone_number': 8919136253, 'Place': 'Nellore', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee89'), 'Name': 'Sireesha', 'Age': 24, 'Phone_number': 9183311259, 'Place': 'Mysore', 'State': 'Karnataka'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8a'), 'Name': 'Rohit Kumar', 'Age': 26, 'Phone_number': 8913676209, 'Place': 'Chennai', 'State': 'Tamilnadu'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8b'), 'Name': 'Jaya', 'Age': 28, 'Phone_number': 9220583077, 'Place': 'Pune', 'State': 'Kerala'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8c'), 'Name': 'Prasad', 'Age': 26, 'Phone_number': 9333313573, 'Place': 'Kurnool', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8d'), 'Name': 'Seema', 'Age': 28, 'Phone_number': 6301357782, 'Place': 'Hyderabad', 'State': 'Telangana'}

In [32]:
query = {"State":"Kerala"}
update = {"$set":{"State":"Maharashtra"}}

In [33]:
collection.update_one(query,update)

In [34]:
for i in collection.find():
    print(i)

{'_id': ObjectId('63ca524c1e62f58ab1b8ee88'), 'Name': 'Suma', 'Age': 25, 'Phone_number': 8919136253, 'Place': 'Nellore', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee89'), 'Name': 'Sireesha', 'Age': 24, 'Phone_number': 9183311259, 'Place': 'Mysore', 'State': 'Karnataka'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8a'), 'Name': 'Rohit Kumar', 'Age': 26, 'Phone_number': 8913676209, 'Place': 'Chennai', 'State': 'Tamilnadu'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8b'), 'Name': 'Jaya', 'Age': 28, 'Phone_number': 9220583077, 'Place': 'Pune', 'State': 'Maharashtra'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8c'), 'Name': 'Prasad', 'Age': 26, 'Phone_number': 9333313573, 'Place': 'Kurnool', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8d'), 'Name': 'Seema', 'Age': 28, 'Phone_number': 6301357782, 'Place': 'Hyderabad', 'State': 'Telangana'}

In [35]:
#modify the record,use the update_many() method,which requires two arguements query and update

In [36]:
query = {"Age":28}
update = {"$set":{"Age":25}}

In [37]:
collection.update_many(query,update)

In [38]:
for i in collection.find():
    print(i)

{'_id': ObjectId('63ca524c1e62f58ab1b8ee88'), 'Name': 'Suma', 'Age': 25, 'Phone_number': 8919136253, 'Place': 'Nellore', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee89'), 'Name': 'Sireesha', 'Age': 24, 'Phone_number': 9183311259, 'Place': 'Mysore', 'State': 'Karnataka'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8a'), 'Name': 'Rohit Kumar', 'Age': 26, 'Phone_number': 8913676209, 'Place': 'Chennai', 'State': 'Tamilnadu'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8b'), 'Name': 'Jaya', 'Age': 25, 'Phone_number': 9220583077, 'Place': 'Pune', 'State': 'Maharashtra'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8c'), 'Name': 'Prasad', 'Age': 26, 'Phone_number': 9333313573, 'Place': 'Kurnool', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8d'), 'Name': 'Seema', 'Age': 25, 'Phone_number': 6301357782, 'Place': 'Hyderabad', 'State': 'Telangana'}

In [39]:
#make a query to find the records

In [40]:
for i in collection.find({"State":"Maharashtra"}):
    print(i)

{'_id': ObjectId('63ca524f1e62f58ab1b8ee8b'), 'Name': 'Jaya', 'Age': 25, 'Phone_number': 9220583077, 'Place': 'Pune', 'State': 'Maharashtra'}

In [41]:
query = {"Place":"Chennai"}

In [42]:
for i in collection.find(query):
    print(i)

{'_id': ObjectId('63ca524f1e62f58ab1b8ee8a'), 'Name': 'Rohit Kumar', 'Age': 26, 'Phone_number': 8913676209, 'Place': 'Chennai', 'State': 'Tamilnadu'}

In [43]:
query = {"Name":"Sireesha"}

In [44]:
for i in collection.find(query):
    print(i)

{'_id': ObjectId('63ca524f1e62f58ab1b8ee89'), 'Name': 'Sireesha', 'Age': 24, 'Phone_number': 9183311259, 'Place': 'Mysore', 'State': 'Karnataka'}

In [45]:
query = {"Age":25}

In [46]:
for i in collection.find(query):
    print(i)

{'_id': ObjectId('63ca524c1e62f58ab1b8ee88'), 'Name': 'Suma', 'Age': 25, 'Phone_number': 8919136253, 'Place': 'Nellore', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8b'), 'Name': 'Jaya', 'Age': 25, 'Phone_number': 9220583077, 'Place': 'Pune', 'State': 'Maharashtra'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8d'), 'Name': 'Seema', 'Age': 25, 'Phone_number': 6301357782, 'Place': 'Hyderabad', 'State': 'Telangana'}

In [47]:
#delete the records using delete_one() method

In [48]:
collection.delete_one({"Name":"Seema"})

In [49]:
for i in collection.find():
    print(i)

{'_id': ObjectId('63ca524c1e62f58ab1b8ee88'), 'Name': 'Suma', 'Age': 25, 'Phone_number': 8919136253, 'Place': 'Nellore', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee89'), 'Name': 'Sireesha', 'Age': 24, 'Phone_number': 9183311259, 'Place': 'Mysore', 'State': 'Karnataka'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8a'), 'Name': 'Rohit Kumar', 'Age': 26, 'Phone_number': 8913676209, 'Place': 'Chennai', 'State': 'Tamilnadu'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8b'), 'Name': 'Jaya', 'Age': 25, 'Phone_number': 9220583077, 'Place': 'Pune', 'State': 'Maharashtra'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8c'), 'Name': 'Prasad', 'Age': 26, 'Phone_number': 9333313573, 'Place': 'Kurnool', 'State': 'AndhraPradesh'}

In [50]:
query = {"Phone_number":9333313573}

In [51]:
collection.delete_one(query)

In [52]:
for i in collection.find():
    print(i)

{'_id': ObjectId('63ca524c1e62f58ab1b8ee88'), 'Name': 'Suma', 'Age': 25, 'Phone_number': 8919136253, 'Place': 'Nellore', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee89'), 'Name': 'Sireesha', 'Age': 24, 'Phone_number': 9183311259, 'Place': 'Mysore', 'State': 'Karnataka'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8a'), 'Name': 'Rohit Kumar', 'Age': 26, 'Phone_number': 8913676209, 'Place': 'Chennai', 'State': 'Tamilnadu'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8b'), 'Name': 'Jaya', 'Age': 25, 'Phone_number': 9220583077, 'Place': 'Pune', 'State': 'Maharashtra'}

In [53]:
query = {"State":"Karnataka"}

In [54]:
collection.delete_one(query)

In [55]:
for i in collection.find():
    print(i)

{'_id': ObjectId('63ca524c1e62f58ab1b8ee88'), 'Name': 'Suma', 'Age': 25, 'Phone_number': 8919136253, 'Place': 'Nellore', 'State': 'AndhraPradesh'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8a'), 'Name': 'Rohit Kumar', 'Age': 26, 'Phone_number': 8913676209, 'Place': 'Chennai', 'State': 'Tamilnadu'}
{'_id': ObjectId('63ca524f1e62f58ab1b8ee8b'), 'Name': 'Jaya', 'Age': 25, 'Phone_number': 9220583077, 'Place': 'Pune', 'State': 'Maharashtra'}

In [56]:
#delete the records using delete_many() method

In [57]:
collection.delete_many({"Age":25})

In [58]:
for i in collection.find():
    print(i)

{'_id': ObjectId('63ca524f1e62f58ab1b8ee8a'), 'Name': 'Rohit Kumar', 'Age': 26, 'Phone_number': 8913676209, 'Place': 'Chennai', 'State': 'Tamilnadu'}